# MK.config : Makefile config
# Author: liubin <bin.lb@alipay.com>
# Created: 2011-06-16

# compile .c files with g++

TOP_DIR ?= .

export PATH := /usr/lib/ccache:$(PATH)

CXX = g++

CXXFLAGS ?= -O3
FLAGS_BACKUP ?= $(CXXFLAGS)
export FLAGS_BACKUP := $(FLAGS_BACKUP)
CXXFLAGS := $(FLAGS_BACKUP)

CXXFLAGS += -pipe -Wall -g -D_GNU_SOURCE -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS
CXXFLAGS += -DLEVEL0_CACHE_LINE_SIZE=$(shell cat /sys/devices/system/cpu/cpu0/cache/index0/coherency_line_size)
CXXFLAGS += -DUSE_MEM_COMPRESS

CXXFLAGS += -I /usr/local/include

# subversion revision
SVN_REVISION = $(shell sh -c 'LC_ALL=C svn info 2>/dev/null | grep ^Revision: | grep -o "[[:digit:]]\+"')
CXXFLAGS += $(if $(SVN_REVISION),-DSVN_REVISION=$(SVN_REVISION),)

LDFLAGS = -L$(TOP_DIR)/lib/$(shell getconf LONG_BIT) -lrt

include $(TOP_DIR)/VERSION
CXXFLAGS += -DMILE_DOC_SERVER_MAJOR_VER=$(MAJOR_VER) -DMILE_DOC_SERVER_MINOR_VER=$(MINOR_VER)

# source files

HEADERS = $(wildcard *.h *.hpp)
SRCS = $(wildcard *.c *.cc *.cpp)
OBJS = $(foreach s, $(SRCS), $(basename $(s)).o)

.PHONY: all clean test

all : $(OBJS)

$(OBJS) : $(HEADERS)

.SUFFIXES : .c
.c.o:
	$(CXX) $(CXXFLAGS) -c -o $@ $<

# vim: syntax=make
